AWS_REGION=ap-south-1

ZIP_QUEUE_URL=https://sqs.ap-south-1.amazonaws.com/xxx/zip-queue
OUTPUT_BUCKET=your-output-bucket

JOBS_TABLE=PdfJobs
ITEMS_TABLE=PdfJobItems

SNS_TOPIC_ARN=arn:aws:sns:ap-south-1:xxx:pdf-events-topic

VISIBILITY_TIMEOUT_SEC=300
HEARTBEAT_EVERY_SEC=60
